@model BanHangOnline.ViewModels.WebPostViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WebPostViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLowerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostLowerTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostReadmore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostReadmore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostEnable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostEnable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostSeoKeyword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostSeoKeyword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitleURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitleURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitleGoogle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitleGoogle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitleImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitleImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitleAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitleAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostLastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>













<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="copy-print-csv" class="table v-middle">
                                <thead>
                                    <tr>
                                      <th>
                                         @Html.DisplayNameFor(model => model.PostID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PostImage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PostTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PostEnable)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-10">
                                            @Html.DisplayFor(model => model.PostID)
                                        </td>
                                        <td class="col-sm-10">
                                            <div class="media-box">
                                                <img src="@Model.PostImage" class="media-avatar" alt="@Model.PostTitle">
                                            </div>
                                        </td>
                                        

                                        <td class="col-sm-10">
                                            @Html.DisplayFor(model => model.PostTitle)
                                        </td>

                                        <td class="col-sm-10">
                                            @Html.DisplayFor(model => model.PostEnable)
                                        </td>

                                        <td class="col-sm-10">
                                            @Html.DisplayFor(model => model.CreatedAt)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-start">
                                <input value="Trở lại" type="submit" class="btn btn-primary mt-3 ml-2" asp-action="Index">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>

</div>