@using BanHangOnline.ViewModels
@model List<BanHangOnline.ViewModels.CartViewModel>

@{
    ViewData["Title"] = "Thủ tục thanh toán";
    decimal? total = 0;
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area  breadcrumbs_bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Thanh toán</h3>
                    <ul>
                        <li><a href="/index">Trang chủ</a></li>
                        <li>Thanh toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="Checkout_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_remove">#</th>
                                    <th class="product_name">Tên sản phẩm</th>
                                    <th class="product-price">Giá sản phẩm</th>
                                    <th class="product_quantity">Số lượng</th>
                                    <th class="product_quantity">Cập nhập Số lượng</th>
                                    <th class="product_total">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    int stt = 1;
                                    @foreach (CartViewModel item in Model)
                                    {
                                        var thanhtien = item.Quantity * item.product.SalePrice;
                                        total += thanhtien;
                                        <tr>
                                            <td class="product_remove">@(stt++)</td>
                                            <td class="product_name"><a href="#">@item.product.ProductName</a></td>

                                            @if (item.product.SalePrice != null)
                                            {
                                                <td class="product-price">@(item.product.SalePrice?.ToString("n0")) đ</td>
                                            }
                                            else
                                            {
                                                <td class="product-price">0 đ</td>
                                            }

                                            <td class="product_quantity"><input asp-for="@item.Quantity" id="@($"quantity-{item.product.Id}")" /></td>
                                            <td class="product_quantity"><button data-productid="@item.product.Id" class="btn btn-success updatecartitem" style="margin-right:10px">Cập nhập</button><button asp-route="removecart" asp-route-id="@item.product.Id" class="btn btn-danger">Xóa</button></td>
                                            <td class="product_total">@(thanhtien?.ToString("n0")) đ</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="cart_submit">
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout_form">
                 <form asp-action="CheckOut" asp-controller="Product" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   <h3>CHI TIẾT HÓA ĐƠN</h3>
                        <div class="row">
                            <div class="col-lg-12 mb-20">
                                <label>Họ và tên<span>*</span></label>
                                <input type="text" name="LastName" required>
                            </div>

                            @*<div class="col-12 mb-20">
                            <label>Company Name</label>
                            <input type="text">
                            </div>*@
                            @*  <div class="col-12 mb-20">
                            <label for="country">country <span>*</span></label>
                            <select class="select_option" name="cuntry" id="country">
                            <option value="2">bangladesh</option>
                            <option value="3">Algeria</option>
                            <option value="4">Afghanistan</option>
                            <option value="5">Ghana</option>
                            <option value="6">Albania</option>
                            <option value="7">Bahrain</option>
                            <option value="8">Colombia</option>
                            <option value="9">Dominican Republic</option>

                            </select>
                            </div>*@

                            <div class="col-12 mb-20">
                                <label>Nhập địa chỉ<span>*</span></label>
                                <input placeholder="nhập địa chỉ giao hàng" name="Address" type="text" required>
                            </div>
                            @*  <div class="col-12 mb-20">
                            <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <label>Town / City <span>*</span></label>
                            <input type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <label>State / County <span>*</span></label>
                            <input type="text">
                            </div>
                            *@
                            <div class="col-lg-6 mb-20">
                                <label>Số điện thoại <span>*</span></label>
                                <input type="text" name="PhoneNumber" required>
                            </div>
                            <div class="col-lg-6 mb-20">
                                <label>Nhập email</label>
                                <input type="text" name="Email">

                            </div>
                            @* <div class="col-12 mb-20">
                            <input id="account" type="checkbox" data-bs-target="createp_account" />
                            <label for="account" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">Create an account?</label>

                            <div id="collapseOne" class="collapse one" data-parent="#accordion">
                            <div class="card-body1">
                            <label> Account password   <span>*</span></label>
                            <input placeholder="password" type="password">
                            </div>
                            </div>
                            </div>*@
                            @*     <div class="col-12 mb-20">
                            <input id="address" type="checkbox" data-bs-target="createp_account" />
                            <label class="righ_0" for="address" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-controls="collapseOne">Ship to a different address?</label>

                            <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                            <div class="row">
                            <div class="col-lg-6 mb-20">
                            <label>First Name <span>*</span></label>
                            <input type="text">
                            </div>
                            <div class="col-lg-6 mb-20">
                            <label>Last Name  <span>*</span></label>
                            <input type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <label>Company Name</label>
                            <input type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <div class="select_form_select">
                            <label for="countru_name">country <span>*</span></label>
                            <select class="select_option" name="cuntry" id="countru_name">
                            <option value="2">bangladesh</option>
                            <option value="3">Algeria</option>
                            <option value="4">Afghanistan</option>
                            <option value="5">Ghana</option>
                            <option value="6">Albania</option>
                            <option value="7">Bahrain</option>
                            <option value="8">Colombia</option>
                            <option value="9">Dominican Republic</option>

                            </select>
                            </div>
                            </div>

                            <div class="col-12 mb-20">
                            <label>Street address  <span>*</span></label>
                            <input placeholder="House number and street name" type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <label>Town / City <span>*</span></label>
                            <input type="text">
                            </div>
                            <div class="col-12 mb-20">
                            <label>State / County <span>*</span></label>
                            <input type="text">
                            </div>
                            <div class="col-lg-6 mb-20">
                            <label>Phone<span>*</span></label>
                            <input type="text">

                            </div>
                            <div class="col-lg-6">
                            <label> Nhập   <span>*</span></label>
                            <input type="text">

                            </div>
                            </div>
                            </div>
                            </div>*@
                            <div class="col-12">
                                <div class="order-notes">
                                    <label for="order_note">Nội dung</label>
                                    <textarea id="order_note" name="Contents" placeholder="Nhập nội dung..."></textarea>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  
                        <h3>ĐƠN HÀNG</h3>
                        <div class="order_table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count > 0)
                                    {

                                        @foreach (CartViewModel item in Model)
                                        {
                                            var thanhtien = item.Quantity * item.product.SalePrice;
                                            <tr>
                                                <td>@item.product.ProductName <strong> × @item.Quantity</strong></td>
                                                <td>@(thanhtien?.ToString("n0")) đ</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tổng sản phẩm</th>
                                        <td>@(total?.ToString("n0")) đ</td>
                                    </tr>
                                    <tr>
                                        <th>Phí vận chuyển</th>
                                        <td id="phivanchuyen"></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Tổng:</th>
                                        <td id="phivanchuyenToatal"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                           @* <div class="panel-default">
                                <input id="payment" name="check_method" type="radio" data-bs-target="createp_account" />
                                <label for="payment" data-bs-toggle="collapse" data-bs-target="#method" aria-controls="method">Create an account?</label>

                                <div id="method" class="collapse one" data-parent="#accordion">
                                    <div class="card-body1">
                                        <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-default">
                                <input id="payment_defult" name="check_method" type="radio" data-bs-target="createp_account" />
                                <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult" aria-controls="collapsedefult">PayPal <img src="assets/img/icon/papyel.png" alt=""></label>

                                <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                    <div class="card-body1">
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                    </div>
                                </div>
                            </div>*@
                            <div class="order_button">
                                <button type="submit">Xác nhận đơn hàng</button>
                                <input class="hidden" name="total" id="totalProduct"/>
                            </div>
                        </div>
                         
                </div>
            </div>
                </form>
        </div>
    </div>
</div>
<!--Checkout page section end-->

@section Scripts {
    <script>
        $(document).ready(function() {
            $(".updatecartitem").click(function(event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function(result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });

            $.ajax({
                url: '@Url.Action("Getuser","DbResultJson")',
                type: "GET",
                dataType: "json",
                success: function(data) {
                    phivanchuyen = data.so1;
                    $("#phivanchuyen").html(phivanchuyen.toLocaleString(undefined, { minimumFractionDigits: 0 }) + ' đ');
                    $("#phivanchuyenToatal").html((phivanchuyen + @total).toLocaleString(undefined, { minimumFractionDigits: 0 }) + ' đ');
                    $("#totalProduct").val((phivanchuyen + @total).toLocaleString(undefined, { minimumFractionDigits: 0 }));
                }
            });
        });



    $('form').submit(function() {
     var res = true;
     // here I am checking for textFields, password fields, and any 
     // drop down you may have in the form
     $("input[type='text'],select,input[type='LastName']",this).each(function() {
         if($(this).val().trim() == "") {
             res = false; 
         }
     })

     $("input[type='text'],select,input[type='PhoneNumber']",this).each(function() {
         if($(this).val().trim() == "") {
             res = false; 
         }
     })

     $("input[type='text'],select,input[type='Address']",this).each(function() {
         if($(this).val().trim() == "") {
             res = false; 
         }
     })
     return res; // returning false will prevent the form from submitting.
});
    </script>
}
