@using BanHangOnline.ViewModels
@model dynamic

@{
    ViewData["Title"] = "Danh sách yêu thích";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area  breadcrumbs_bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Sản phẩm yêu thích</h3>
                    <ul>
                        <li><a href="/index">Trang chủ</a></li>
                        <li>Danh sách yêu thích</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--wishlist area start -->
<div class="wishlist_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc wishlist">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Xóa sản phẩm</th>
                                        <th class="product_thumb">Hình ảnh</th>
                                        <th class="product_name">Tên sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product_quantity">Số lượng</th>
                                        <th class="product_total">Thêm giỏ hàng</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (ProductViewModel item in Model.Products)
                                    {
                                        @foreach (ProductImageViewModel itemImages in Model.productImages)
                                        {
                                            @if (item.Id == itemImages.ProductId)
                                            {
                                                <tr>
                                                <td class="product_remove"><a asp-controller="Product" asp-action="RemoveWishList" asp-route-Id="@item.Id">X</a></td>
                                                <td class="product_thumb"><a href="#"><img src="@itemImages.FilePath" alt="@item.ProductName"></a></td>
                                                <td class="product_name"><a href="#">@item.ProductName</a></td>
                                                <td class="product-price">@item.SalePrice.ToString("n0") đ</td>
                                                <td class="product_quantity">@item.QuantityInStock</td>
                                                <td class="product_total"><a href="#">Add To Cart</a></td>
                                            </tr> 
                                            }
                                           
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--wishlist area end -->