@model BanHangOnline.ViewModels.WebPostParentViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebPostParentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentLowerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentLowerTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentReadmore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentReadmore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentEnable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentEnable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentSeoKeyword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentSeoKeyword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentTitleURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentTitleURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentTitleGoogle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentTitleGoogle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentTitleImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentTitleImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostParentTitleAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostParentTitleAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostParentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
