@using BanHangOnline.ViewModels
@model WebInfoViewModels
@{
    ViewData["Title"] = "Liên hệ";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area  breadcrumbs_bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Liên Hệ</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li>Thông tin liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact map start-->
<div class="contact_map">
    <div class="map-area">
        <div id="googleMap">
            <div id="map" style="width:100%; height:100%">
                <iframe src="@Model.BaiViet2" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!--contact map end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact_message content">
                    <h3>Liên hệ</h3>
                    <p>@Model.Description</p>
                    <ul>
                        <li><i class="fa fa-fax"></i>  Address : @Model.Address</li>
                        <li><i class="fa fa-phone"></i> <a href="#">@Model.Email</a></li>
                        <li><i class="fa fa-envelope-o"></i><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact_message form">
                    <h3>Liên hệ với chúng tôi</h3>
                    <form asp-controller="Home" asp-action="Contact">
                        <p>
                            <label> Nhập Tên (Bắt buộc nhập)</label>
                            <input name="FullName" id="FullName" onfocusout="fullNameCheck()" placeholder="Nhập tên *" type="text">
                        </p>
                        <p>
                            <label>  Nhập Email (Bắt buộc nhập)</label>
                            <input name="Email" id="Email" onfocusout="emailCheck()" placeholder="Email *" type="email">
                        </p>
                        <p>
                            <label> Nhập số điện thoại</label>
                            <input name="PhoneNumber" id="PhoneNumber" placeholder="Số điện thoại *" type="text">
                        </p>
                        <div class="contact_textarea">
                            <label> Nhập nội dung</label>
                            <textarea name="Contents" id="Contents" placeholder="Nội dung *" class="form-control2"></textarea>
                        </div>
                        <button type="submit"> Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->
@section scripts{
    <script>
        function fullNameCheck() {
            var fullName = document.getElementById("FullName");
            if (fullName == "") {
                alert("Vui lòng nhập tên!");
                return;
            }
        }
        function emailCheck() {
            var email = document.getElementById("Email");
            if (email == "") {
                alert("Vui lòng nhập Email!");
                return;
            }
        }
    </script>
}
